html, body{
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

/*****MENU BAR*****/

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    display: inline-block;
    padding-right: 4vw;
    padding-left: 3vw;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*****IMAGE GRID*****/

.wrapper {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-gap: 0.5vw;
    background-color: #fff;
    color: #444;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.box {
    background-color: white;
    color: #fff;
    padding: 10px;
    font-size: 150%;
    transition: transform .2s; /* Animation */
}
.box img{
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box:hover{
    transform: scale(1.1);
}

/******TOGGLE-BOX******/

.fas{
    color:black;
}

.toggle-box-region {background-color:#fff; padding:16px 18px;}
.toggle-box {display:none;}
.toggle-box + label {
	color:black;
	cursor:pointer;
	display:block;
	font-weight:bold;
    font-size: 8vw;
    padding-top: 0;
    padding-left: 10vw;
	position:relative;
}

.toggle-box + label + div {display:none; margin:0 0 14px;}
.toggle-box:checked + label:nth-child(n) + div {display:block;}

.toggle-box + label:before {
	position:relative;
	content:"\f067";
	font-family:'FontAwesome';
    text-rendering: optimizeLegibility;
	top:0;
	right:2vw;
	color:black;
    background-color: white;
}
.toggle-box:checked + label {color:black;}
.toggle-box:checked + label:before {content:"\f067";}

/* General */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.box-test {
  padding:3em;
}

/*******DRINKS*******/


/*******FOOD*******/

/*FOOD MENU*/

#panini{
    font-weight: bold;
}
#panini p{
    font-weight: normal;
}


/*****INFO TEXT*****/

.exp-text{
    font-size: 4vw;
    padding-top: 2vw;
    padding-left: 3vw;
    line-height: 9.5vw;
}

.closing-text{
    font-size: 4vw;
    padding-top: 2vw;
    padding-left: 3vw;
    padding-bottom: 5vw;
    line-height: 9.5vw;
}
.closing-text .fas{
    content: '\f118';
    font-family:'FontAwesome';
    text-rendering: optimizeLegibility;
    font-size: 4vw;
}

/*****FOOTER*****/

.footer {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-gap: 0.5vw;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.social {
    padding: 10px;
    font-size: 150%;
}
.social img{
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*********MEDIA QUERIES*********/


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .intro-text{
        font-size: 4vw;
        padding-top: 7vw;
        padding-left: 3vw;
        line-height: 9.5vw;
      }
      
      /*navbar size*/
      .navbar h1{
        font-size: 6vw;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        float: left;
      }
      .navbar img{
        width: 9vw;
        float: right;
      }
      
      li{
        font-size: 6vw;
        line-height: 1.6;
        list-style-type: none;
        padding-left: 8vw;
      }

}

/* ----------- Tablet ----------- */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .intro-text{
        font-size: 4vw;
        padding-top: 3vw;
        padding-left: 3vw;
        line-height: 9.5vw;
      }
      
      /*navbar size*/
      .navbar h1{
        font-size: 5vw;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        float: left;
      }
      .navbar img{
        width: 8vw;
        float: right;
      }
      
      li{
        font-size: 4vw;
        line-height: 1.6;
        list-style-type: none;
        padding-left: 9vw;
      }

}


/* ----------- Laptop ----------- */

/* ----------- Non-Retina Screens ----------- */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .intro-text{
        font-size: 4vw;
        padding-top: 2vw;
        padding-left: 3vw;
        line-height: 9.5vw;
      }
      
      /*navbar size*/
      .navbar h1{
        font-size: 3vw;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        float: left;
      }
      .navbar img{
        width: 6vw;
        float: right;
      }
      
      /*list items*/
      li{
        font-size: 4vw;
        line-height: 1.6;
        list-style-type: none;
        padding-left: 13vw;
      }
}


/* ----------- Retina Screens ----------- */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
      .intro-text{
        font-size: 4vw;
        padding-top: 2vw;
        padding-left: 3vw;
        line-height: 9.5vw;
      }
      
      /*navbar size*/
      .navbar h1{
        font-size: 3vw;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        float: left;
      }
      .navbar img{
        width: 6vw;
        float: right;
      }
      
      li{
        font-size: 4vw;
        line-height: 1.6;
        list-style-type: none;
        padding-left: 13vw;
      }
}